.header {
  display: block;
  clear: both;
  float: none;
  height: min-content;
  width: auto;
  background: purple;
  color: white;
  font-size: 20pt;
  text-align: center;
}

.title_header {
  display: block;
}

.title_navbar {
  display: block;
  font-size: 18pt;
  position: absolute;
  left: 50%;
  float: right;
  text-align: center;
}

.navbar_top form {
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#set_location * {
	float: left;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#set_location button {
	height: 40px;
	width: 40px;
}

#set_location input {
	height: 38px;
	margin: 1px;
}

.navbar_top {
  clear: both;
  width: 100%;
  background-color: plum;
  min-height: 40px;
}

.button_3bar {
  display: block;
  float: right;
  clear: none;
  min-height: 40px;
  min-width: 40px;
  background-color: blueviolet;
  border: 0px;
  text-align: center;
}

.menu_3bar {
  display: none;
  float: right;
  clear: both;
  width: 100%;
}

.menu_3bar a {
  display: block;
  background-color: cyan;
  font-size: 18pt;
  width: 100%;
}

.content_main {
  margin-top: 10px;
  min-width: auto;
  clear: both;
  text-align: center;
}

label[for="current_weather"] {
	display: block;
	clear:both;
}

#set_location {
	display:block;
	float: left;
}

#current_weather label {
	display: block;
	float: left;
	clear: both;
}

#current_weather {
	display: block;
	clear: both;
}

#current_weather div {
  display: block;
  float: left;
  position: sticky;
  left: 100px;
}

label[for="forecast"] {
	display: block;
	clear: both;
}

#forecast {
	display: block;
	clear: both;
}

.weekday {
	display: block;
	float: left;
}